.idea
.vscode
.o
.so
__pycache__
*.pyc
*.save*
*.sqlite3
*.sqlite3*
*.swp
.ipynb_checkpoints
*.npy
~
BUILD*
*.autosave
*.stash
*.log
*.pro.user*
*.Debug
*.Release
Makefile
profile_results
package/install/*
package/robot-core/*
package/tests/*
*.orig
*.user
tmp/
*build*
!build_package.sh
*.zip
third-party/out/*
